name: Moodle Plugin CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-22.04

    services:
      mariadb:
        image: mariadb:10.11
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "true"
        ports:
          - 3306:3306

    strategy:
      fail-fast: false
      matrix:
        include:
          - php: '8.0'
            moodle: 'MOODLE_400_STABLE'
            db: mariadb
          - php: '8.1'
            moodle: 'MOODLE_401_STABLE'
            db: mariadb
          - php: '8.1'
            moodle: 'MOODLE_402_STABLE'
            db: mariadb
          - php: '8.1'
            moodle: 'MOODLE_403_STABLE'
            db: mariadb
          - php: '8.1'
            moodle: 'MOODLE_404_STABLE'
            db: mariadb
          - php: '8.1'
            moodle: 'MOODLE_405_STABLE'
            db: mariadb
          - php: '8.2'
            moodle: 'MOODLE_500_STABLE'
            db: mariadb
          - php: '8.3'
            moodle: 'MOODLE_501_STABLE'
            db: mariadb

    steps:
      - name: Checkout plugin code
        uses: actions/checkout@v4

      - name: Run Moodle Plugin CI
        uses: gfrancv/moodle-plugin-ci-action@v1.1.0
        with:
          php-version: ${{ matrix.php }}
          moodle-branch: ${{ matrix.moodle }}
          database: ${{ matrix.db }}
